ul {
    font-family: "Roboto", sans-serif;
    /* font-family: "Merienda", cursive;       */
}

@media (max-width: 800px) {
    #footer {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}